aside{
  grid-row: 2/3;
  grid-column: 1/2;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}

header {
  background-color: var(--primary-color);
  color: var(--white-color);
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin: 15px;
  padding: 40px;
  min-height: 50vh;
  background-color: var(--white-color);
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  line-height: 1.5;
}

main h1, main h2 {
  background-color: var(--auxiliary-color);
  color: var(--white-color);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


