aside{
  grid-row: 2/3;
  grid-column: 1/2;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}

header {
  background-color: var(--primary-color);
  color: var(--white-color);
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin: 15px;
  min-height: 50vh;
  background-color: var(--white-color);
  border-radius: 20px;
}


